body {
    background-color: #0000ff45;
    color: white;
}

.panel {
    height: 180px;
}

/* Pseudo Class selector to target the first panel and style it slightly different then the other panels */
.panel:nth-child(1) {
    height: 190px;
}

.panel, .jumbotron, footer {
    background-color: blue;
    font-size: 100%x;
}
/* Descendant Combinator selector to target the child (panel-heading) of the panel-primary */

.panel-primary .panel-heading {
    background-color: darkblue;
    font-size: 100%;
}

#winCount, #lossCount, #targetScore, #yourScore {
    font-size: 35px;
}

